---
// This is the frontmatter section where you can import other components or scripts if needed


import { Icon } from 'astro-icon';
import IfLoggedIn from '~/components/DynamicContent/IfLoggedIn.astro';

const { videoLink, text } = Astro.props as Props;
---

<IfLoggedIn>
          
  <div slot="loggedIn">
    <button 
      class='LogInOutButton' 
      onClick="netlifyIdentity.logout();"
      data-notification="false"
      data-event="GAEvent" 
      data-category="Header" 
      data-label="navLogOut" 
      data-action="Click" 
      data-value="undefined"
    >
      <div class="LogInOutButtonInner">
        <!-- <Icon name=ic:outline-notification-important /> -->
        <span></span><Icon name="ic:outline-logout" />
      </div>
    </button>
  </div>

  <div slot="loggedOut">
   <button 
     class='LogInOutButton' 
     onClick="netlifyIdentity.open();"
     data-notification="false"
     data-event="GAEvent" 
      data-category="Header" 
      data-label="navLogIn" 
      data-action="Click" 
      data-value="undefined"
   >
     <div class="LogInOutButtonInner">
       <!-- <Icon name=ic:outline-notification-important /> -->
       <span>Log in</span><Icon name="ic:outline-login" />
     </div>
   </button>
  </div>
  
</IfLoggedIn>



<style lang="scss">
  button span {
    white-space: nowrap;
    
  }
  .LogInOutButton {
      position: relative;
      border: 1px solid var(--custom-accent-1-50);
      border-radius: 1.5rem;
      /* background-color: transparent; */
      background-color: var(--theme-code-inline-bg);
      cursor: pointer;
      font-size: 1em;
      /* font-size: var(--theme-text-xs); */
      padding: 0.65em 1em;
      @media (min-width: 70em) {
        padding: 0.65em 1.5em;
      }
      line-height: calc(1 / var(--theme-text-xs));
      min-height: 36px;
      font-family: var(--font-body);
      color: var(--theme-text-lightest);
      [astro-icon] {
        color: var(--theme-text-lightest);
        font-size: 1.2em;
      }
      &:hover{
        background-color: var(--custom-accent-2-10);
      }
      
      .LogInOutButtonInner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .15em;
      }
      .notificationWrapper{
        opacity: 0;
      }
      &[data-notification="true"]{
        .notificationWrapper{
          opacity: 1;
        }
      }

      //Hide on mobile
      /*@media (max-width: 800px) {
        display: none;
      }
*/  }

</style>

