---
// This is the frontmatter section where you can import other components or scripts if needed


// const { videoLink, text } = Astro.props as Props;
---

<button class='SearchButton' onclick="modalOpenSearch();">
<div class="SearchButton_inner">
  <svg xmlns="http://www.w3.org/2000/svg" width="26.235" height="26.235" viewBox="0 0 26.235 26.235">
    <path id="Icon_material-search" data-name="Icon material-search" d="M23.25,21H22.065l-.42-.405a9.765,9.765,0,1,0-1.05,1.05l.405.42V23.25l7.5,7.485L30.735,28.5Zm-9,0A6.75,6.75,0,1,1,21,14.25,6.741,6.741,0,0,1,14.25,21Z" transform="translate(-4.5 -4.5)" fill="#76004b"/>
  </svg>  
  <span>Search</span>
</div> 
</button>

<style lang="scss">
  
  .SearchButton {
      position: relative;
      border: 1px solid var(--custom-accent-1-50);
      border-radius: 1.5rem;
      /* background-color: transparent; */
      background-color: var(--custom-white);
      cursor: pointer;
      font-size: 1rem;
      padding: 0.25em .75em 0.25em 0.75em;
      line-height: calc(1 / var(--theme-text-xs));
      min-height: 36px;
      color: var(--custom-grey-1-75);
      [astro-icon] {
        color: var(--theme-text);
      }
      span {
        display: none;
        // color: var(--theme-text-lighter);
      }
      @media (min-width: 800px) {
        padding: 0.65em 4.5em 0.65em 0.75em;
        span {
          display: block;
        }
        svg {
          margin: 0 10px 0 0;
        }
      }
      &:hover{
        background-color: var(--custom-accent-2-50);
        span {
          // color: var(--theme-text);
        }
      }
      .SearchButton_inner {
        display: flex;
        align-items: center;
        color: var(--custom-grey-1);
      }
      :global(svg) {
        max-height: 20px;
        position: relative;
        // top: 4px;
        

      }
  }

</style>

<script type="text/javascript">
  function modalOpenSearch(){
  // Open search modal
  var targetElement = document.querySelector(".ModalWrapper[data-modal='Search']");
  targetElement.classList.add("active");

  // Focus on the input
  setTimeout(() => {
    var inputElement = document.querySelector("#searchInput");
    if (inputElement) {
      inputElement.focus();
    }
  }, 0);
}
</script>