:root {
	/* =============================== */
	/* ===== PRIMARY THEME COLORS ===== */
	/* =============================== */
	--custom-black: 			#1A1A1A;
	
	--custom-teal: 				#00DFC3;
	--custom-dark-blue: 	#293E6B;
	--custom-green: 			#81C051;
	--custom-light-blue:		#e7f0f4;
	--custom-maroon:		#76004B;
	--custom-orange:		#F26937;
	--custom-tan:		#EEE7E7;

	/* ===== SHADE VARIANTS ===== */
	/*add opacity percent as last 2 digits*/
		/*90% opacity*/
		--custom-teal-90: 				#00DFC390;
		--custom-dark-blue-90: 			#293E6Be9;
		--custom-green-90: 				#81C05190;
		--custom-white-90: 				#fdfeff90;
		--custom-light-blue-90: 		#e7f0f4e8;
		--custom-maroon-90: 			#76004Be8;
		--custom-orange-90: 			#F26937e8;
		--custom-tan-90: 			#EEE7E7e8;
		--custom-black-90: 			#1A1A1Ae8;

		/* 75% opacity */
		--custom-maroon-75: 			#76004bb8;
		--custom-black-75: 			#1a1a1ab8;
		
		/*50% opacity*/
		--custom-teal-50: 				#00DFC350;
		--custom-dark-blue-50: 			#293E6B50;
		--custom-green-50: 				#81C05150;
		--custom-white-50: 				#fdfeff50;
		--custom-maroon-50: 			#76004B50;
		--custom-orange-50: 			#F2693750;
		--custom-tan-50: 			#EEE7E750;
		--custom-black-50: 			#1A1A1A50;

		/*25% opacity*/
		--custom-teal-25: 				#00DFC325;
		--custom-dark-blue-25: 			#293E6B25;
		--custom-green-25: 				#81C05125;
		--custom-maroon-25: 			#76004B25;
		--custom-orange-25: 			#F2693725;
		--custom-tan-25: 			#EEE7E725;
		--custom-white-25: 			#fdfeff25;
		--custom-black-25: 			#1A1A1A25;

		/*10% opacity*/
		--custom-teal-10: 				#00DFC310;
		--custom-dark-blue-10: 			#293E6B10;
		--custom-green-10: 				#81C05110;
		--custom-maroon-10: 			#76004B10;
		--custom-orange-10: 			#F2693710;
		--custom-tan-10: 			#EEE7E710;
		--custom-white-10: 			#fdfeff10;
		--custom-black-10: 			#1A1A1A10;
		
		/*05% opacity*/
		--custom-teal-05: 				#00DFC305;
		--custom-dark-blue-05: 			#293E6B05;
		--custom-green-05: 				#81C05105;
		--custom-maroon-05: 			#76004B05;
		--custom-orange-05: 			#F2693705;
		--custom-tan-05: 			#EEE7E705;
		--custom-white-05: 			#fdfeff05;

	/* ================ */
	/* ===== GREYS ===== */
	/* ================ */
			--custom-grey-1: 		#808080;
			--custom-grey-1-50: 	#80808050;
			--custom-grey-1-20: 	#80808020;
			--custom-grey-1-10: 	#80808010;
			--custom-grey-1-05: 	#80808005;


	/* ======================== */
	/* ===== NAMED COLORS ===== */
	/* ======================== */
		--custom-accent-1: 	var(--custom-dark-blue);
		--custom-accent-1-50: 	var(--custom-dark-blue-50);
		--custom-accent-1-25: 	var(--custom-dark-blue-25);
		--custom-accent-1-10: 	var(--custom-dark-blue-10);
		--custom-accent-1-05: 	var(--custom-dark-blue-05);

		--custom-accent-2: 	var(--custom-tan);
		--custom-accent-2-50: 	var(--custom-tan-50);
		--custom-accent-2-25: 	var(--custom-tan-25);
		--custom-accent-2-10: 	var(--custom-tan-10);
		--custom-accent-2-05: 	var(--custom-tan-05);
}

:root,
::backdrop {
    --custom-white: #fdfeff; /* White color in light mode */
    /* ... other variables ... */
}

:root.theme-dark,
.theme-dark ::backdrop {
    /* --custom-white: var(--custom-accent-1-50); 
    --custom-tan: var(--custom-accent-1-10);  */
    /* ... other variables ... */
}

/* ====================== */
/* ===== PAGE WIDTHS ===== */
/* ====================== */
:root{
	--page-width-1: 1100px;
	--page-width-2: 800px;
}