.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 -1rem;  /* Negative margin equal to padding */
}

.width-50 {
    width: 100%;
    padding: 1rem;  /* Padding */
    display: inline-block;
    box-sizing: border-box;  /* Ensure padding is included in element's width */
}


@media (min-width: 75em) {
    .flex-row {
        flex-direction: row;
    }
    .width-50 {
        width: 50%;
    }
	.width-50 .heading-wrapper {
		margin-inline-start: -1rem;
	} 
}
