---
// This is the frontmatter section where you can import other components or scripts if needed

const { heading, body } = Astro.props as Props;
---

<div class="logo">
	<div id="CORELOGO" class="favicon">
		<svg xmlns="http://www.w3.org/2000/svg" width="458.72" height="374.72" viewBox="0 0 458.72 374.72">
			<clipPath id="clip-path">
				<rect id="Rectangle_146" data-name="Rectangle 146" width="77" height="77" transform="translate(0 0.001)" fill="none"/>
			</clipPath>
			<clipPath id="clip-path-2">
				<path id="Path_894" data-name="Path 894" d="M342.878,191.178c3.736-7.865,9.113-6.043,14.015-4.22,2.345.872,4.581,1.744,6.478,1.555-2.083-1.066-3.052-4.892-8.236-5.813a9.391,9.391,0,0,0-1.649-.139,10.749,10.749,0,0,0-10.608,8.617" transform="translate(-342.878 -182.561)" fill="none"/>
			</clipPath>
<clipPath id="clip-path-3">
				<path id="Path_895" data-name="Path 895" d="M357.092,415.554c-2.345-.872-4.58-1.744-6.477-1.556,2.084,1.064,3.052,4.892,8.236,5.812a9.6,9.6,0,0,0,2.75.084,10.749,10.749,0,0,0,9.508-8.561c-3.737,7.866-9.114,6.042-14.016,4.221" transform="translate(-350.615 -411.333)" fill="none"/>
			</clipPath>
			<g id="Group_539" data-name="Group 539" transform="translate(-119.12 -122.78)">
			  <g id="Group_3091" data-name="Group 3091">
				<path id="Path_27324" data-name="Path 27324" d="M348.78,215.7h0v0Z" fill="#81c051"/>
				<path id="Path_27325" data-name="Path 27325" d="M332.48,495.73c1.59-.25,3.18-.53,4.77-.82.34-.06.68-.13,1.02-.2.98-.19,1.95-.39,2.92-.6.49-.1.98-.21,1.46-.32.92-.2,1.84-.42,2.77-.64.4-.1.8-.19,1.2-.29,33.1-8.17,64.3-26.24,89.16-52.27,34.27-35.86,52.72-82.64,50.64-128.35-2.83-35.2-20.7-66.01-47.82-82.22l-.21-.12c-.57-.34-1.15-.67-1.73-1-.26-.15-.53-.29-.79-.44-.43-.24-.86-.47-1.3-.7l-.81-.42c-.48-.25-.97-.49-1.46-.73-.22-.1-.43-.21-.64-.31-2.23-1.07-4.51-2.03-6.83-2.9-.1-.04-.19-.07-.29-.11-.68-.25-1.36-.49-2.05-.73-.15-.05-.31-.1-.47-.15-.62-.21-1.25-.41-1.88-.6-.17-.05-.35-.1-.52-.16a84.948,84.948,0,0,0-14.96-3.02c-.08,0-.15-.02-.23-.02-.92-.1-1.84-.18-2.76-.25-.13,0-.26-.02-.39-.03-.93-.07-1.87-.11-2.81-.15a1.772,1.772,0,0,1-.23-.01c-1.02-.03-2.05-.05-3.07-.05a104.1,104.1,0,0,0-19.85,2.1c-.65.13-1.3.28-1.96.43l-1.3.3c-.91.22-1.82.45-2.75.7-.24.06-.48.13-.71.19-.86.24-1.73.49-2.6.75s-1.74.53-2.6.82c-.11.03-.21.07-.32.1a103.5,103.5,0,1,1-159.96,86.66c0-1.92.07-3.95.22-6.39a186.247,186.247,0,0,1,12.5-61.2,188.255,188.255,0,0,1,76.19-91.66,185.572,185.572,0,0,1,56.52-23.28,186.723,186.723,0,0,0-42.27-4.79c-103.46.09-187.25,84.03-187.16,187.49S203.15,497.59,306.61,497.5a189.582,189.582,0,0,0,25.86-1.77Z" fill="#81c051"/>
			  </g>
			  <path id="Path_27326" data-name="Path 27326" d="M573.04,268.12C549.82,167.3,449.27,104.38,348.44,127.6h.05l.07.02a185.949,185.949,0,0,0-56.52,23.29,187.618,187.618,0,0,0-88.69,152.86c-.07,1.09-.13,2.14-.15,3.14s-.03,2.06-.03,3.24c0,1.43.01,2.8.04,4.06a103.5,103.5,0,0,0,145.35,90.55,103.5,103.5,0,0,1,27.13-197.05c24.85-4.45,48.73-.51,69.24,11.74,30.52,18.24,50.63,52.63,53.78,92.01,2.25,49.27-17.45,99.36-54.02,137.63a200.269,200.269,0,0,1-70.32,47.72c5.35.46,10.73.69,16.11.69h0a187.474,187.474,0,0,0,42.02-4.79c100.82-23.22,163.74-123.77,140.52-224.6Z" fill="#054c62"/>
			</g>
		</svg>
	</div>
	<div class="favicon-text">
		<svg xmlns="http://www.w3.org/2000/svg" width="101.516" height="28.848" viewBox="0 0 101.516 28.848">
			<g id="Group_3092" data-name="Group 3092" transform="translate(0)">
			  <path id="Path_27327" data-name="Path 27327" d="M654.388,229.3l-4.145,2.758a9.647,9.647,0,0,0-6.8-2.667,9.826,9.826,0,0,0-6.985,2.8,9.086,9.086,0,0,0-2.933,6.827,8.989,8.989,0,0,0,2.933,6.782,9.672,9.672,0,0,0,6.985,2.8,9.5,9.5,0,0,0,6.8-2.667l4.145,2.758a14.362,14.362,0,0,1-10.943,4.748,14.09,14.09,0,0,1-10.524-4.249,13.654,13.654,0,0,1-4.331-10.173,13.83,13.83,0,0,1,4.331-10.219,15.174,15.174,0,0,1,21.467.5Z" transform="translate(-628.59 -224.598)" fill="gray"/>
			  <path id="Path_27328" data-name="Path 27328" d="M807.136,224.59A14.673,14.673,0,0,1,817.66,228.8a13.83,13.83,0,0,1,4.33,10.219,13.66,13.66,0,0,1-4.33,10.173,14.527,14.527,0,0,1-10.524,4.249,14.357,14.357,0,0,1-10.479-4.249,13.532,13.532,0,0,1-4.378-10.173,13.7,13.7,0,0,1,4.378-10.219A14.493,14.493,0,0,1,807.136,224.59Zm0,4.792a9.669,9.669,0,0,0-6.985,2.8,9.157,9.157,0,0,0-2.934,6.827,8.989,8.989,0,0,0,2.934,6.782,9.674,9.674,0,0,0,6.985,2.8,9.859,9.859,0,0,0,7.032-2.8,9.111,9.111,0,0,0,2.888-6.782,9.283,9.283,0,0,0-2.888-6.827A9.857,9.857,0,0,0,807.136,229.382Z" transform="translate(-765.691 -224.59)" fill="gray"/>
			  <path id="Path_27329" data-name="Path 27329" d="M986.932,234.175a8.989,8.989,0,0,1,2.933-6.782,9.676,9.676,0,0,1,6.986-2.8h4.283l-1.444,4.792H996.85a4.838,4.838,0,0,0-4.936,4.792v19.26H986.93v-19.26Z" transform="translate(-928.724 -224.59)" fill="gray"/>
			  <path id="Path_27330" data-name="Path 27330" d="M1085.506,224.59a14.673,14.673,0,0,1,10.524,4.205,13.824,13.824,0,0,1,4.33,10.219,14.827,14.827,0,0,1-.232,2.4h-24.215a9.133,9.133,0,0,0,3.492,5.154,9.787,9.787,0,0,0,6.1,2.035,9.657,9.657,0,0,0,6.8-2.667l4.191,2.758a14.6,14.6,0,0,1-10.99,4.748,14.357,14.357,0,0,1-10.479-4.249,13.533,13.533,0,0,1-4.378-10.173,13.7,13.7,0,0,1,4.378-10.219,14.49,14.49,0,0,1,10.479-4.205Zm9.593,12.027a9.4,9.4,0,0,0-3.492-5.2,10.162,10.162,0,0,0-12.2,0,8.936,8.936,0,0,0-3.492,5.2H1095.1Z" transform="translate(-998.845 -224.59)" fill="gray"/>
			</g>
		  </svg>
		  
	</div>
</div>

<style type="scss">
	/* Logo Dark Theme color changes */
	html.theme-dark #CORELOGO svg {
		overflow: visible;
	}
	html.theme-dark #CORELOGO path {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_27326 {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_27325 {
		fill: transparent;
		/* stroke: var(--theme-accent); */
		stroke: var(--theme-text-lighter);
		stroke-width: 10px;
	}
  /* Logo height as image -- still commented out above btw */
	.logo img {
		height: 60px;
	}
	/* Logo as inline svg */
	.logo svg {
		height: 60px;
		width: auto;
		display: block;
		color: var(--theme-accent);
    	transition: all .2s ease-in-out;
	}
	/* increase logo size on tablet & desktop */
	@media (min-width: 20em) {
		.logo svg {
		height: 40px;
		}
	}
	@media (min-width: 23.5em) {
		.logo svg {
		height: 50px;
		}
	}
	@media (min-width: 30em) {
		.logo svg {
		height: 60px;
		}
	}
	@media (min-width: 51em) {
		.logo svg {
		height: 80px;
		}
	}
	.logo {
		display: flex;
		align-items: center;
		gap: 15px;
		.favicon-text {
			font-family: var(--font-heading);
			display: none;
			@media (min-width: 59em) {
				display: block;
			}
			font-size: 2.3rem;
			color: var(--theme-text);
			font-weight: 600;
			svg {
				height: 40px;
				path {
					fill: var(--theme-text-lighter);
				}
			}
		}
	}
	
</style>
