---
import SplashLayout from '../layouts/SplashLayout.astro';
import Logo from '~/components/SVGs/Logo.astro';
import NavBlock from '~/components/NavBlock.astro';
import IfLoggedIn from '~/components/DynamicContent/IfLoggedIn.astro';
import IfLoggedInDisabled from '~/components/DynamicContent/IfLoggedInDisabled.astro';
import UserInfo from '~/components/DynamicContent/UserInfo.astro';
import LoadingPlaceholder from '~/components/DynamicContent/LoadingPlaceholder.astro';
import SimpleButton from '~/components/Buttons/SimpleButton.astro';
import Button from '~/components/Button.astro';

---

<SplashLayout title="User Data">
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/@frontegg/js/umd/frontegg.production.min.js"></script>
	<div class="content-wrapper">
		
		<div class="content">
			
			
			<div class="cell border">
				<h1>User Data</h1>
				<p class="welcome-intro">
					This is a test page showing the relevant user data that can be accessed on this site.
				</p>
				<!-- <p class="small">The below section reacts to whether or not you are logged in.</p> -->
			</div>
			
			<div class="cell flexCenter">
				
				<div id="app-root">
				    <h1>This is Frontegg Integration in Vanilla Javascript </h1>
				    <button fe-action="open-admin-portal" fe-state="isAuthenticated">Open AdminPortal</button>
				</div>

			</div>
			<!-- end cell | cell layout -->
		</div>
	</div>
</SplashLayout>

<style lang="scss">
	article {
		width: 100%;
	}
	.content-wrapper {
		width: 100%;
		height: 100%;
		max-width: var(--page-width-1);
		display: flex;
		justify-content: flex-start;
		
		.content {
			position: relative;
			z-index: 1;
			padding-top: calc(var(--theme-navbar-height) + var(--doc-padding-block));
			padding-bottom: var(--doc-padding-block);
			padding-inline: var(--min-spacing-inline);
			width: 100%;
			height: 100%;
			margin-inline: auto;
			display: flex;
			flex-direction: row;
			/* overflow-x: hidden; */
			// max-width: 80vw;
			
			.cell{
				width: 50%;
				padding: 1rem;
				&.border{
					border-right: solid 1px var(--theme-text);
				}
				&.flexCenter{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}
			}

			@media (max-width: 800px) {
				display: flex;
				flex-direction: column;

				.cell{
					width: 100%;
					padding: 1rem;
					&.border{
						border-right: none;
						border-bottom: solid 1px var(--theme-text);
					}
					
				}
			}

			.welcome-intro {
				margin-bottom: 1.5em;
				padding-right: 10%;
				@media (min-width: 50em) {
					padding-right: 20%;
				}	
			}

			.button-wrap{
				display: flex;
				flex-direction: column;
			}

		}
	}

</style>



<script>
	import {initialize} from "@frontegg/js"

	const style = document.createElement('style');
	style.setAttribute('type', 'text/css');
	style.innerHTML = '';
	document.getElementsByTagName('head')[0].appendChild(style);

	const app = initialize({
	  contextOptions: {
	    baseUrl: "https://app-60w042yz5etg.frontegg.com", //set your Frontegg environment domain and client ID here
	    clientId: '22400201-214c-4be4-aa17-d66b72a2cce1'
	  },
	  hostedLoginBox: true //if you are working in embedded mode remove this one
	})

	document.querySelector('[fe-action="open-admin-portal"]').addEventListener('click', () => {
	  app.showAdminPortal()
	})
</script>