---
import SplashLayout from '../layouts/SplashLayout.astro';
import Logo from '~/components/SVGs/Logo.astro';
import NavBlock from '~/components/NavBlock.astro';
import IfLoggedIn from '~/components/DynamicContent/IfLoggedIn.astro';
import IfLoggedInDisabled from '~/components/DynamicContent/IfLoggedInDisabled.astro';
import UserInfo from '~/components/DynamicContent/UserInfo.astro';
import LoadingPlaceholder from '~/components/DynamicContent/LoadingPlaceholder.astro';
import SimpleButton from '~/components/Buttons/SimpleButton.astro';
import Button from '~/components/Button.astro';

---

<SplashLayout title="User Data">
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/@frontegg/js/umd/frontegg.production.min.js"></script>
	<div class="content-wrapper">
		
		<div class="content">
			
			
			<div class="cell border">
				<h1>User Data</h1>
				<p class="welcome-intro">
					This is a test page showing the relevant user data that can be accessed on this site.
				</p>
				<!-- <p class="small">The below section reacts to whether or not you are logged in.</p> -->
			</div>
			
			<div class="cell flexCenter">

				<div>
					<p>User Data:</p>
					<ul>
						<li>
							<strong>[userEmail]: </strong><span data-user-data="userEmail"></span>
						</li>
						<li>
							<strong>[userName]: </strong><span data-user-data="userName"></span>
						</li>
						<li>
							<strong>[userGroups]: </strong><span data-user-data="userGroups"></span>
						</li>
						<li>
							<strong>[userRoles]: </strong><span data-user-data="userRoles"></span>
						</li>
						<li>
							<strong>[Basic Permissions]: </strong><span data-user-data="userRoles"></span>
						</li>
						<li>
							<strong>[Admin Permissions]: </strong><span data-user-data="userRoles"></span>
						</li>
						<li>
							<strong>[BMS Permissions]: </strong><span data-user-data="userRoles"></span>
						</li>
						<li>
							<strong>[Pfizer Permissions]: </strong><span data-user-data="userRoles"></span>
						</li>
					</ul>
				</div>
				

			</div>
			<!-- end cell | cell layout -->
		</div>
	</div>
</SplashLayout>

<style lang="scss">
	article {
		width: 100%;
	}
	.content-wrapper {
		width: 100%;
		height: 100%;
		max-width: var(--page-width-1);
		display: flex;
		justify-content: flex-start;
		
		.content {
			position: relative;
			z-index: 1;
			padding-top: calc(var(--theme-navbar-height) + var(--doc-padding-block));
			padding-bottom: var(--doc-padding-block);
			padding-inline: var(--min-spacing-inline);
			width: 100%;
			height: 100%;
			margin-inline: auto;
			display: flex;
			flex-direction: row;
			/* overflow-x: hidden; */
			// max-width: 80vw;
			
			.cell{
				width: 50%;
				padding: 1rem;
				&.border{
					border-right: solid 1px var(--theme-text);
				}
				&.flexCenter{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}
			}

			@media (max-width: 800px) {
				display: flex;
				flex-direction: column;

				.cell{
					width: 100%;
					padding: 1rem;
					&.border{
						border-right: none;
						border-bottom: solid 1px var(--theme-text);
					}
					
				}
			}

			.welcome-intro {
				margin-bottom: 1.5em;
				padding-right: 10%;
				@media (min-width: 50em) {
					padding-right: 20%;
				}	
			}

			.button-wrap{
				display: flex;
				flex-direction: column;
			}

		}
	}

</style>



<script type="text/javascript">
	console.log("========== userData vars started ==========");
	//grab data from SessionManager vars
	var userDataEmail = SessionManager.getItem('userDataEmail');
	var userDataName = SessionManager.getItem('userDataName');
	var userDataGroups = SessionManager.getItem('userDataGroups');
	var userDataRoles = SessionManager.getItem('userDataRoles');

	//grab DOM elements
	var userEmailElement = document.querySelector('[data-user-data="userEmail"]');
	var userNameElement = document.querySelector('[data-user-data="userName"]');
	var userGroupsElement = document.querySelector('[data-user-data="userGroups"]');
	var userRolesElement = document.querySelector('[data-user-data="userRoles"]');

	//set user data in DOM elements
	userEmailElement.innerHTML = userDataEmail;
	userNameElement.innerHTML = userDataName;
	userGroupsElement.innerHTML = userDataGroups;
	userRolesElement.innerHTML = userDataRoles;
</script>