---
// TopBarDisclaimer.astro
---


  
<div class="disclaimer">
FOR BMS/PFE INTERNAL TRAINING USE ONLY - DO NOT DUPLICATE, DISTRIBUTE, OR USE WHEN DETAILING
</div>


<style> 
    .disclaimer {
        min-height: 36px;
        background-color: var(--custom-maroon);
        color: var(--custom-white);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-heading);
        font-size: 105%;
        line-height: 1.2;
        padding: 5px 10px;
        margin-bottom: 1.25em;
    }
</style>