---
import UIString from '../UIString.astro';

const currentYear = new Date().getFullYear();

---

<footer>
	
	<ul class="footer-links">
		<li class="first">
			© {currentYear} ELIQUIS 360 Support
		</li>
		<li>
			<a href="/en/legal/cookie-policy/">
				Cookie Policy
			</a>
		</li>
		<li>
			<a href="/en/legal/privacy-policy/">
				<UIString key="footer.privacyPolicy" />
			</a>
		</li>
	</ul>
</footer>

<style type="scss">
	footer {
		background-image: url(/images/footer-wave.svg);
		background-repeat: no-repeat;
    	background-size: cover;
		padding: 6rem 0 2rem;
		text-align: center;
		color: var(--custom-white);
		font-size: var(--theme-text-xs);
		
	}

	.footer-links {
		/* border-top: 2px solid var(--custom-white); */
		display: flex;
		gap: 1.5em;
		justify-content: center;
		list-style: none;
		margin: 0 2.5%;
		padding: 10px;
		text-align: left;
		.first {
			margin-right: auto;
			text-transform: uppercase;
		}
	}

	.footer-links a {
		color: var(--custom-white);
		text-decoration: none;
		
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--custom-white-90);
		text-decoration: underline;
	}
</style>
