---
import UIString from '../UIString.astro';

const currentYear = new Date().getFullYear();

---

<footer>
	
	<ul class="footer-links">
		<li class="first">
			© {currentYear} THE GROVERY  <!-- <span class="veeva">&nbsp;|&nbsp;432-US-2300384 &nbsp;02/24</span> -->
		</li>
		<li>
			<a 
				href="/en/legal/privacy-policy/"
				data-event="GAEvent" 
				data-category="Footer" 
				data-label="footerPrivacy" 
				data-action="Click" 
				data-value="undefined"
			>
				<UIString key="footer.privacyPolicy" />
			</a>
		</li>
	</ul>
</footer>

<style type="scss">
	footer {
		/* background-image: url(/images/footer-wave.svg); */
		background-repeat: no-repeat;
    	background-size: cover;
		padding: 6rem 0 2rem;
		text-align: center;
		color: var(--theme-text);
		font-size: var(--theme-text-xs);
		.veeva {
			white-space: nowrap;
		}
	}

	.footer-links {
		/* border-top: 2px solid var(--custom-white); */
		display: flex;
		gap: 1.5em;
		justify-content: center;
		list-style: none;
		margin: 0 2.5%;
		padding: 10px;
		line-height: 1.25;
		text-align: left;
		.first {
			margin-right: auto;
			text-transform: uppercase;
		}
	}

	.footer-links a {
		color: var(--theme-text);
		text-decoration: none;
		
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--theme-text-lighter);
		text-decoration: underline;
	}
</style>
