---
// This is the frontmatter section where you can import other components or scripts if needed
import AnnouncementsContent from '~/components/DynamicContent/AnnouncementsContent.astro';
import { Icon } from 'astro-icon'

export interface Props {
  icon?: 'puzzle-piece' | 'question-mark' | 'check-list';
}

const { announcement, icon } = Astro.props as Props;
---

<div class='AnnouncementBlock' style={`--box-icon-url: url('/tutorial/${icon?icon:"check-list"}.svg');`}>
  <div class="header">
    <div class="icon">
      <svg id="Group_1957" data-name="Group 1957" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34.186" height="34.185" viewBox="0 0 34.186 34.185">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_204" data-name="Rectangle 204" width="34.186" height="34.185" transform="translate(0 0)" fill="none"/>
          </clipPath>
        </defs>
        <g id="Announcements" data-name="Group 1957" clip-path="url(#clip-path)">
          <path id="Path_983" data-name="Path 983" d="M30.767,0H3.419a3.414,3.414,0,0,0-3.4,3.419L0,34.185l6.837-6.837h23.93a3.429,3.429,0,0,0,3.419-3.419V3.419A3.428,3.428,0,0,0,30.767,0" fill="#fff"/>
          <rect id="Rectangle_202" data-name="Rectangle 202" width="3.417" height="10.255" transform="translate(15.383 5.128)" fill="#f26937"/>
          <rect id="Rectangle_203" data-name="Rectangle 203" width="3.417" height="3.42" transform="translate(15.383 18.8)" fill="#f26937"/>
        </g>
      </svg>      
    </div>
    <h3>Announcements</h3>
  </div>
  <div class="content">
    <AnnouncementsContent text={announcement}/>
    <p class="subText">
      For more information and to see past announcements, go to the <a href="/en/announcements">Announcements page > </a>
    </p>
  </div>  
</div>

<style lang="scss">
  .AnnouncementBlock {
     position: relative;
     margin-bottom: 2rem;
     padding-block: 2rem;
     padding-inline-start: 2rem;
     padding-inline-end: 2rem;
     border: 1px solid var(--custom-maroon);
     box-shadow: -0.5rem 0.5rem 0 -1px var(--custom-maroon-90);
     background-color: var(--theme-bg);

      .header{
        //padding-inline-start: 4rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .icon{
          width: 4rem;
          height: 4rem;
          min-width: 65px;
          border-radius:100%;
          background-color: var(--custom-dark-blue);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          [astro-icon] {
            color: var(--theme-bg);
            width: 50%;
            height: auto;
          }
        }

        h2,h3{
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
      .content{
        
      }
      .subText{
        font-size: 0.85em;
        margin-top: 1em;
        padding-top: 1em;
        border-top: solid 1px;
        a {
          white-space: nowrap;
        }
      }
  }

  @supports (mask: var(--box-icon-url) no-repeat center bottom / 100%) or
    (-webkit-mask: var(--box-icon-url) no-repeat center bottom / 100%) {
    .AnnouncementBlock::before {
      content: '';
      position: absolute;
      top: 0.5rem;
      inset-inline-start: 0.5rem;
      
     /* -webkit-mask: var(--box-icon-url) no-repeat center center / 100%;
      mask: var(--box-icon-url) no-repeat center center / 100%;*/
    }
  }
</style>
