---
// This is the frontmatter section where you can import other components or scripts if needed

//DOCS: https://github.com/netlify/netlify-identity-widget/tree/master


const { info } = Astro.props as Props;
---

<div></div>

<script>
  //delay functions so there's no refresh loop 
  //on initial login event on page load.
    function delayedFunction() {
      
      netlifyIdentity.on('login', user => 
        console.log("Netlify Login -- 'login' event");
        location.reload();
      );
      netlifyIdentity.on('logout', () => 
        console.log("Netlify Login -- 'logout' event");
        location.reload();
      );

    }

    function waitForDelay(seconds, callback) {
      setTimeout(callback, seconds * 1000);
    }

    const delayInSeconds = 5 // Change this to the desired delay in seconds
    waitForDelay(delayInSeconds, delayedFunction);
</script>

<script type="text/javascript">
  /***** cookie-based login status *****/
  netlifyIdentity.on('login', user => 
    SessionManager.setItem('loggedIn', 'true')
  );
  netlifyIdentity.on('logout', () => 
    SessionManager.setItem('loggedIn', 'false')
  );
</script>